<footer>
    
    <p>&copy; 2026 MD Yeasin Rahman Khan. All rights reserved.</p>
    <div id="contact-footer">
        <a href="tel:+14379815981"><img class="socials" src="img/phone-call.png" alt="Logo"></a>
        <a href="mailto:yeasinrahman91@gmail.com"><img class="socials" src="img/gmail.png" alt="Logo"></a>
        <a href="https://www.linkedin.com/in/md-yeasin-rahman-khan/"><img class="socials" src="img/linkedin.png" alt="Logo"></a>
        <a href="https://github.com/kyeasin31"><img class="socials" src="img/github.png" alt="Logo"></a>
    </div>
    
</footer>