
<nav>
    <a href="index.html" class="link" style="font-weight: bold; font-size: 1.2em;">MD Yeasin Rahman Khan</a>
    <div class="nav-links">
        <a class="link" href="about.html">About</a>
        <a class="link" href="projects.html">Projects</a>
        <a class="link" href="blog.html">Blog</a>
       <a class="link" href="resume.html">Resume</a>
        <a class="link" href="contact.html">Contact</a>
        <label class="switch" aria-label="Toggle dark mode">
            <input type="checkbox" id="toggleTheme">
            <span class="slider round"></span>
        </label>
    </div>
</nav>